/*********************** Changement de langue ***********************/

#lang-switch {
  width: 300px;
  height: 80px;
  border: solid;
  border-width: 4px;
  border-color: var(--color-fourth);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.choose_language:hover {
  opacity: 0.5;
}

#lang-switch svg {
  z-index: 1;
  transition: all 0.5s;
  margin: auto 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lang-switch svg:hover,
body.active-lang-fr .flag-fr,
body.active-lang-en .flag-en,
body.active-lang-es .flag-es {
  opacity: 1;
}

body .fr_lang,
body .en_lang,
body .es_lang {
  display: none !important;
  transition: display 0.5s;
}

body.active-lang-fr .fr_lang {
  display: block !important;
}

body.active-lang-en .en_lang {
  display: block !important;
}

body.active-lang-es .es_lang {
  display: block !important;
}

.bulle_language {
  width: 50px;
  height: 115px;
  background-color: #ed1c24;
  position: fixed;
  top: -15px;
  left: 1.8%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 15px;
  z-index: 10;
  text-align: center;
  transition: all 0.5s;
}

.bulle_language_index {
  width: 50px;
  height: 115px;
  background-color: #ed1c24;
  position: fixed;
  top: -81px;
  left: 1.8%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 15px;
  z-index: 1;
  text-align: center;
  transition: all 0.5s;
}

.bulle_language:hover,
.bulle_language_index:hover {
  transform: translateY(90px);
  transition: all 0.3s ease;
}

.bulle_langue_svg {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%);
}

.choose_language {
  width: 22.5%;
  height: auto;
  position: relative;
}

/**************************************
.bulle_langue_en {
  position: absolute;
  width: 40px;
  height: auto;
  left: 45%;
  bottom: 45px;
  transform: translateX(-50%);
}

.bulle_langue_es {
  position: absolute;
  width: 40px;
  height: auto;
  left: 45%;
  bottom: 96px;
  transform: translateX(-50%);
}

.bulle_langue_fr {
  position: absolute;
  width: 40px;
  height: auto;
  left: 45%;
  bottom: 146px;
  transform: translateX(-50%);
}

**************************************/
