/* debut menu burger *************************************************/

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 30;
  display: block;
}

.menu-wrap .toggler {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 3;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--color-fourth);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: var(--color-third);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

#home_page_menu_burger {
  position: absolute;
  width: 100%;
  height: 100%;
}


.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: var(--color-secondary);
  font-size: var(--size-txt-m);
  padding: 0.8rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.container_logo_tablette_desktop .menu-wrap .menu>div>div {
  width: 100%;
  height: 100%;
}

.me_contacter_menu_burger {
  position: absolute;
  right: -12%;
  bottom: 2%;
  width: 15%;
  height: auto;
  z-index: 20;
}


.me_contacter_menu_burger:hover p {
  color: var(--color-fourth);
  fill: var(--color-secondary);

}

.me_contacter_menu_burger_text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 30;
  font-family: "AmaticSC-bold";
  font-size: var(--size-txt-m2);
}

.me_contacter_menu_burger_text:hover {
  color: var(--color-fourth);

}

@media only screen and (min-width: 720px) {
  .menu-wrap .menu>div>div>ul>li {
    font-size: var(--size-txt-l);
    padding: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {

  .me_contacter_menu_burger_text {
    font-size: var(--size-txt-s);
  }
}

@media only screen and (min-width: 1366px) {

  .me_contacter_menu_burger_text {
    font-size: var(--size-txt-s2);
  }
}

@media only screen and (min-width: 1920px) {

  .me_contacter_menu_burger_text {
    font-size: var(--size-txt-m3);
  }
}