
/* menu burger personnalise 
.menu_icon {
  position: fixed;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu_icon span {
  width: 22px;
  height: 22px;
  background-color: #ed1c24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 22px;
  height: 2px;
}

.menu_icon span::before,
span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ed1c24;
  transform: translateY(-6px);
  transition: transform 0.5s;
}

.menu_icon span::after {
  transform: translateY(6px);
}

.menu_icon:hover span::before {
  transform: translateY(-8px);
}

.menu_icon:hover span::after {
  transform: translateY(8px);
}

.menu_icon_cross span::before,
span::after {
  transform-origin: 50% 50%;
}

.menu_icon_cross {
  transition: transform 0.5s;
}

.menu_icon_cross span {
  transition: background 0.5s, transform 0.5;
}

.menu_icon_cross.is-opened span {
  background: transparent;
}

.menu_icon_cross.is-opened span::before {
  transform: translateY(0) rotate(45deg);
}

.menu_icon_cross.is-opened span::after {
  transform: translateY(0) rotate(-45deg);
}

.menu_icon_cross svg {
  opacity: 0;
  fill: transparent;
  stroke-width: 2px;
  stroke: #ed1c24;
  stroke-dasharray: 22 230;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
    opacity 0.3s steps(1, end);
}

.menu_icon_cross span {
  transition: background 0.3s steps(1, end);
}

.menu_icon_cross.is-opened svg {
  transform: rotate(180deg);
  stroke-dashoffset: -60;
  stroke-dasharray: 165;
  opacity: 1;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
    opacity 0.5s steps(1, start);
}

.menu_icon_cross.is-opened span {
  transition: background 0.5s steps(1, start);
  background-color: transparent;
}
