/************ Fade IN ************/
.fade-in {
  animation: fadeIn ease var(--fade-in-speed);
  -webkit-animation: fadeIn ease var(--fade-in-speed);
  -moz-animation: fadeIn ease var(--fade-in-speed);
  -o-animation: fadeIn ease var(--fade-in-speed);
  -ms-animation: fadeIn ease var(--fade-in-speed);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************ Fade OUT ************/
.fade-out {
  animation: fadeOut ease var(--fade-out-speed);
  -webkit-animation: fadeOut ease var(--fade-out-speed);
  -moz-animation: fadeOut ease var(--fade-out-speed);
  -o-animation: fadeOut ease var(--fade-out-speed);
  -ms-animation: fadeOut ease var(--fade-out-speed);
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
