.container_logo_cellphone svg path.cls-2,
.container_logo_tablette svg path.cls-2,
.container_logo_tablette_desktop svg path.cls-2,
.container_etape_item svg path.cls-2,
.container_etape_item svg path.cls-1,
.container_etape_item svg.icone_design path.cls-2,
.container_etape_item svg.icone_web .cls-1,
.container_etape_item svg.icone_multicanal .cls-1,
.container_etape_item svg.icone_print polygon.cls-1,
.arrow_return_menu path.cls-2,
.punaise_jaune svg path.cls-2,
.punaise_jaune_photo svg path.cls-2,
.punaise_jaune_2 svg path.cls-2,
.punaise_jaune_2_page svg path.cls-2,
.presentation_fleche path.cls-1,
.punaise_jaune_page svg path.cls-2,

.deco_list_before path.cls-1 {
  fill: var(--color-primary);
}

.arrow_return_menu path.cls-3,
.me_contacter path.cls-2,
.container_etape_item svg.icone_web .cls-2,
.container_etape_item svg.icone_multicanal .cls-2,
.container_etape_item svg.icone_print path.cls-3,
.bulle_langue_svg .cls-1,
.bulle_langue_en .cls-1,
.bulle_langue_es .cls-1,
.bulle_langue_fr .cls-1 {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.container_logo_cellphone svg path.cls-1,
.container_logo_tablette svg path.cls-1,
.container_logo_tablette_desktop svg path.cls-1,
.titre_realisations svg path.cls-1,
.titre_realisations_2 svg path.cls-1,
.container_etape_item svg.icone_spider_web .cls-1,
.container_etape_item svg.icone_web .cls-4,
.container_etape_item svg.icone_multicanal .cls-4,
.arrow_return_menu path.cls-1,
.punaise_jaune_2 svg path.cls-1,
.punaise_jaune_page svg path.cls-1 {
  fill: var(--color-third);
}

.me_contacter path.cls-1,
.container_etape_item svg.icone_print path.cls-4,
.container_etape_item svg.icone_web .cls-5,
.container_etape_item svg.icone_multicanal .cls-5,
.bulle_langue_svg .cls-2,
.bulle_langue_en .cls-2,
.bulle_langue_en .cls-5,
.bulle_langue_es .cls-2,
.bulle_langue_fr .cls-2,
.you_are_hired .cls-1 {
  fill: var(--color-fourth);
}

.container_logo_cellphone svg path.cls-3,
.container_logo_tablette svg path.cls-3,
.container_logo_tablette_desktop svg path.cls-3,
.container_etape_item svg.icone_design path.cls-1,
.container_etape_item svg.icone_montage path.cls-1,
.container_etape_item svg.icone_print polygon.cls-2,
.container_etape_item svg.icone_web .cls-3,
.container_etape_item svg.icone_multicanal .cls-3,
.bouton_vers_site path.cls-1,
.bulle_langue_es .cls-3,
.punaise_jaune svg path.cls-1,
.punaise_jaune_photo svg path.cls-1,
.punaise_jaune_2_page svg path.cls-1 {
  fill: var(--color-filth);
}

.bulle_langue_en .cls-3,
.bulle_langue_en .cls-4,
.bulle_langue_fr .cls-3 {
  fill: #02257d;
}

.bulle_langue_fr .cls-1,
.bulle_langue_en .cls-1,
.bulle_langue_es .cls-1 {
  stroke-miterlimit: 10;
  stroke-width: 45px;
}