footer {
  text-align: center;
  background-color: var(--color-primary);
  padding-bottom: 34px;
}

.logo_footer {
  width: 100%;
  height: auto;
  padding-top: 25%;
  padding-bottom: 25%;
}

.logo_footer img {
  width: 40%;
  height: auto;
}

.flexbox_footer {
  display: none;
  width: 100%;
  color: var(--color-secondary);
  padding: 1%;
  margin-top: -2px;
}

.flexbox_footer_cellphone {
  display: block;
  width: 100%;
  color: var(--color-secondary);
  padding: 1%;
  margin-top: -2px;
}

.container_pages_annexes {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container_pages_annexes_cellphone {
  width: 100%;
  height: auto;
  text-align: center;
}

.container_pages_annexes h3 {
  font-size: var(--size-txt-xs);
}

/***********************************************************************************************/

@media only screen and (min-width: 720px) {
  .container_pages_annexes {
    width: 70%;
  }

  .logo_footer img {
    width: 20%;
    height: auto;
  }

  .logo_footer {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .flexbox_footer {
    display: block;
  }

  .flexbox_footer_cellphone {
    display: none;
  }
}

/************************************************************************/

@media only screen and (min-width: 1024px) {
  .logo_footer img {
    width: 15%;
  }

  .logo_footer {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
  }
}

/****************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_pages_annexes {
    width: 50%;
  }

  .container_pages_annexes h3 {
    font-size: var(--size-txt-m);
    font-weight: 500;
  }
}