.index-content {
  width: 100%;
  height: 100%;
}

.index-anim,
.index-content {
  display: none;
}

.index-anim.is-visible,
.index-content.is-visible {
  display: block;
}

/**********************************************************************************
** index-anim
**********************************************************************************/

.index-anim main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.index-anim .animation_introduction_desktop {
  position: absolute;
  /* width: 175vw; */
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.index-anim .animation_introduction_cellphone {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
}

.index-anim main p {
  font-size: var(--size-txt-l);
  color: var(--color-fourth);
  font-family: "AmaticSC-bold";
  position: absolute;
  bottom: 15%;
  right: 50%;
  transform: translateX(50%);
}

/***********************************************************************************************/

@media only screen and (min-width: 720px) {
  .index-anim .animation_introduction_desktop {
    width: 100%;
    display: block;
  }

  .index-anim main p {
    bottom: 5%;
    transform: translateX(0%);
    right: 5%;
  }

  .index-anim .animation_introduction_cellphone {
    display: none;
  }
}

@media only screen and (min-width: 1365px) {
  .index-anim main p {
    font-size: var(--size-txt-l2);
  }
}

/**********************************************************************************
** index-content
**********************************************************************************/
.index-content header {
  width: 100%;
  height: 100%;
}

.index-content .container_header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.index-content .container_header_presentation {
  width: 100%;
  height: auto;
  position: absolute;
}

.index-content main {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
  overflow: hidden;
}

.index-content .container_titre {
  width: 70%;
  padding: 0;
  padding-bottom: 5%;
  padding-top: 5%;
}

.index-content .container_titre p {
  padding-top: 5%;
  text-align: left;
}

.index-content .container_titre h1 {
  padding-bottom: 1%;
  font-size: var(--size-txt-l2);
  font-family: "AmaticSC-bold";
  font-style: normal;
  font-weight: 600;
  color: var(--color-fourth);
  z-index: 1;
}

.index-content .container_titre h2 {
  font-size: var(--size-txt-m);
  color: var(--color-fourth);
  z-index: 1;
}

.punaise_jaune {
  position: absolute;
  z-index: 1;
  width: 3.5%;
  top: 3%;
  left: 5%;
}

.punaise_jaune_2 {
  position: absolute;
  z-index: 1;
  width: 3.5%;
  top: 3%;
  right: 10%;
  transform: rotate(35deg);
}

#création_de_sites_internet {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.index-content .container_logo_cellphone {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
}

.index-content .container_logo_cellphone svg {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.index-content .container_logo_tablette {
  display: block;
}

.index-content .animation_patate_morphing {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  display: block;
}

.index-content header .container_animation_flex {
  display: none;
}

.index-content .logo_presentation {
  width: 100%;
}

.index-content .container_description_id {
  width: 70%;
  margin-left: auto;
}

.index-content .container_presentation {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.index-content .container_presentation p {
  width: 80%;
  font-size: var(--size-txt-s2);
}

.container_presentation_fleche {
  width: auto;
  height: 25%;
  position: absolute;
  bottom: 7%;
  right: 1%;
}

.container_presentation_fleche svg {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.texte-description {
  display: none;
}

.photo_romain {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: absolute;
  right: -10%;
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.photo {
  width: 100%;
  height: auto;
}

/*************************polaroid********************/
.polaroid {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.index-content .container_menu_item_identite_visu:hover {
  transform: scale(1.1) rotate(-6deg) translateY(-8px);
}

.index-content .container_menu_item_motion_design:hover {
  transform: scale(1.1) rotate(16deg) translateY(-8px);
}

.index-content .container_menu_item_montage_video:hover {
  transform: scale(1.1) rotate(0deg) translateY(-8px);
}

.index-content .container_menu_item_wordpress:hover {
  transform: scale(1.1) rotate(-2.5deg) translateY(-8px);
}

.index-content .container_menu_item_integration_web:hover {
  transform: scale(1.1) rotate(0deg) translateY(-8px);
}

.index-content .container_menu_item_communication:hover {
  transform: scale(1.1) rotate(7deg) translateY(-8px);
}

.index-content .container_menu_item_identite_visu,
.index-content .container_menu_item_motion_design,
.index-content .container_menu_item_montage_video,
.index-content .container_menu_item_wordpress,
.index-content .container_menu_item_integration_web,
.index-content .container_menu_item_communication {
  transition: all 0.5s ease;
}

.index-content .container_menu_item_identite_visu:hover h2,
.index-content .container_menu_item_motion_design:hover h2,
.index-content .container_menu_item_montage_video:hover h2,
.index-content .container_menu_item_wordpress:hover h2,
.index-content .container_menu_item_integration_web:hover h2,
.index-content .container_menu_item_communication:hover h2 {
  color: var(--color-fourth);
}

.index-content .container_menu_item_identite_visu {
  width: 14%;
  height: auto;
  position: absolute;
  top: 16%;
  left: 2%;
  transform: rotate(-6deg);
}

.index-content .container_svg.menu_accueil_identite_visu svg {
  position: relative;
  top: 15px;
}

.index-content .container_menu_item_motion_design {
  width: 14%;
  height: auto;
  position: absolute;
  top: 19%;
  left: 17.5%;
  transform: rotate(16deg);
}

.index-content .container_svg.menu_accueil_motion_design svg {
  position: relative;
  top: 10px;
}

.index-content .container_menu_item_montage_video {
  width: 14%;
  height: auto;
  position: absolute;
  top: 15.5%;
  left: 33.5%;
  transform: rotate(0deg);
}

.index-content .container_svg.menu_accueil_montage_video svg {
  position: relative;
  top: 5px;
}

.index-content .container_menu_item_wordpress {
  width: 14%;
  height: auto;
  position: absolute;
  top: 21%;
  left: 50.5%;
  transform: rotate(-2.5deg);
}

.index-content .container_svg.menu_accueil_wordpress svg {
  position: relative;
  top: 5px;
}

.index-content .container_menu_item_integration_web {
  width: 14%;
  height: auto;
  position: absolute;
  top: 9%;
  left: 66.5%;
  transform: rotate(0deg);
}

.index-content .container_menu_item_communication {
  width: 14%;
  height: auto;
  position: absolute;
  top: 18.5%;
  left: 82.5%;
  transform: rotate(7deg);
}

.index-content .container_svg.menu_accueil_communication svg {
  position: relative;
  top: 5px;
}

.titre-menu {
  text-align: center;
}

/*******************************************************/
.index-content .nav_desktop {
  position: relative;
  width: 85%;
  height: 100%;
  display: flex none;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.index-content .nav_desktop ul li h2 {
  color: var(--color-fourth);
}

.index-content .container_menu {
  width: 100%;
  height: 45%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
}

.index-content .container_menu .container_menu_item {
  padding-top: 0;
  width: 20%;
  height: 100%;
  position: relative;
  transition: all 0.6s ease;
  padding-bottom: 3%;
}

.index-content .container_svg svg {
  margin-bottom: 10%;
}

/****************************************************************************************/

.index-content .container_menu .container_menu_item .titre-menu {
  position: absolute;
  width: 100%;
  font-size: var(--size-txt-l);
  bottom: 0;
  text-align: center;
}

.index-content .container_description {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.index-content .container_texte_description {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.index-content .container_texte_description_principal {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  right: 0;
}

.index-content .titre_description {
  position: fixed;
  width: 25%;
  height: auto;
  right: 15%;
  top: 0;
  z-index: 1;
}

.forme_titre_svg {
  position: absolute;
}

.index-content .container_animation_description {
  position: relative;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.index-content .animation_description_text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.index-content .container_animation_description .animation_description_txt {
  position: absolute;
  /* top: 40px; */
  right: 40px;
  width: 30%;
  /* height: 475px; */
  padding: 30px 36px;
}
.index-content .container_animation_description .home_anim_dsc_txt_ctn {
  opacity: 0;
  display: none;
  z-index: 1;
}
.index-content .container_animation_description .home_anim_dsc_txt_ctn.anim_show {
  opacity: 1;
  display: block;
}
.index-content .container_animation_description .home_anim_dsc_txt_ctn .dsc_txt {
  opacity: 0;
  display: none;
  z-index: 2;
}
.index-content .container_animation_description .home_anim_dsc_txt_ctn .dsc_txt.anim_show {
  opacity: 1;
  display: block;
}

.index-content .container_animation_description .home_anim_dsc_svg_ctn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.index-content .container_animation_description .home_anim_dsc_svg_ctn path {
  fill: var(--color-secondary);
}

.index-content .container_animation_description .animation_description_txt .btn-change-anim {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--color-secondary);
  padding: 23px 5px;
  text-align: center;
}

.index-content .container_animation_description .animation_description_txt .btn-change-anim .home_anim_svg_btn {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.index-content .container_animation_description .animation_description_txt .btn-change-anim .home_anim_svg_btn path {
  fill: var(--color-fourth);
}

.index-content .container_animation_description .animation_description_txt .btn-start-anim {
  margin-bottom: 18px;
}

.index-content .container_animation_description .animation_description_txt .btn-next-anim {
  margin-top: 18px;
  margin-bottom: 18px;
}

.index-content .texte_description_principal {
  width: 80%;
  height: 100%;
  position: relative;
  margin-left: auto;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.index-content .texte_description_principal p {
  padding-left: 5%;
  padding-right: 5%;
}

.index-content .texte_description {
  width: 40%;
  height: auto;
  padding: 5%;
  font-size: var(--size-txt-s) 2;
}

.index-content .punaise_jaune_photo {
  position: absolute;
  z-index: 1;
  width: 12.5%;
  top: -12.5%;
  left: 47.5%;
  transform: rotate(35deg);
}

.index-content .logiciels {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.index-content .logiciels svg {
  width: 50px;
  height: auto;
}

.index-content footer {
  display: none;
}

.blue {
  color: var(--color-third);
}

.yellow {
  color: var(--color-filth);
}

.grey {
  color: var(--color-primary);
}

/****************************************************************************************/

@media only screen and (min-width: 720px) {
  .index-content .animation_patate_morphing {
    width: 50%;
  }

  .index-content .container_logo_cellphone {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/************************************************************************/

@media only screen and (min-width: 1024px) {
  .index-content .container_titre {
    display: block;
  }

  .index-content main {
    display: block;
  }

  .index-content .container_logo_tablette {
    display: none;
  }

  .index-content .container_header {
    display: block;
  }

  .index-content .menu-wrap,
  .index-content .container_logo_cellphone,
  .index-content .animation_patate_morphing {
    display: none;
  }

  .index-content header .container_animation_flex {
    display: block;
    height: 100vh;
  }

  .index-content header .container_animation_flex .svg_logo {
    width: 70%;
    padding-top: 0;
  }

  .index-content header .container_animation_flex .svg_logo svg {
    width: 100%;
  }

  .index-content .logo_presentation {
    width: 70%;
    margin-left: 5%;
  }

  .index-content .nav_desktop {
    height: 100vh;
    width: 90%;
  }

  .index-content .second_titre {
    margin-top: 10%;
  }

  .index-content .container_menu {
    height: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .index-content .container_menu .container_menu_item {
    width: 20%;
    font-size: var(--size-txt-xxs);
  }

  .index-content .texte_description {
    font-size: var(--size-txt-xxs);
  }

  .index-content .container_menu .container_menu_item .titre-menu {
    bottom: -8%;
  }

  .index-content footer {
    display: block;
  }
}

/****************************************************************************/
@media only screen and (min-width: 1367px) {
  .index-content .container_titre p {
    font-size: var(--size-txt-s2);
  }

  .index-content .container_menu .container_menu_item .titre-menu {
    bottom: 0;
  }

  .index-content .texte_description {
    font-size: var(--size-txt-s);
  }

  .index-content .logiciels svg {
    width: 80px;
    height: auto;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1920px) {
  .index-content header {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .index-content main {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .index-content footer {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .index-content .container_menu .container_menu_item {
    padding-bottom: 4%;
  }

  .index-content .texte_description {
    font-size: var(--size-txt-xs);
  }
}
