.container_article {
  position: relative;
  width: 90%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
  padding: 1%;
}

.container_image {
  position: relative;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.container_image img {
  width: 100%;
  height: auto;
}

.container_client {
  position: relative;
  width: 90%;
  height: auto;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container_client_align_vertical p {
  text-align: left;
}

.bouton_vers_site svg {
  width: 20%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}



/***********************************************************************************************/

@media only screen and (min-width: 720px) {
  .container_article {
    width: 80%;
  }



  .second_titre {
    margin-bottom: 0;
  }

  .bouton_vers_site a {
    font-size: var(--size-txt-s2);
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1024px) {

  .container_article {
    width: 80%;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .container_image {
    padding-top: 0;
    padding-right: 0;
  }

  .container_client_align_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 5%;
    text-align: left;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .bouton_vers_site {
    padding-bottom: 0;
    padding-top: 10%;
  }

  .bouton_vers_site a {
    font-size: var(--size-txt-s);
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_client_align_vertical {
    width: 100%;
    height: auto;
  }

  .container_article {
    width: 70%;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .container_image {
    padding-top: 0;
    width: 100%;
    padding-right: 5%;
  }

  .container_client_align_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 0;
    width: 100%;
    padding-right: 5%;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .bouton_vers_site {
    padding-bottom: 0;
    padding-top: 10%;
  }

  .bouton_vers_site a {
    font-size: var(--size-txt-m2);
  }
}