* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "AmaticSC-bold";
  background-color: var(--color-secondary);
  background-image: none;
}

.white_bkg {
  background-color: var(--color-secondary);
  background-image: none;
}

.email {
  color: var(--color-third);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "AmaticSC-bold";
  font-size: var(--size-txt-l);
}

.forme_titre_svg {
  width: 95%;
  height: auto;
  position: absolute;
  top: 50.5%;
}

.facebook {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 30%;
  left: 25%;
}

.linkedin {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 30%;
  right: 25%;
}

span {
  color: var(--color-filth);
}

h1 {
  display: none;
}

@font-face {
  src: url(../font/AmaticSC-Bold.ttf);
  font-family: "AmaticSC-bold";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../font/AmaticSC-Regular.ttf);
  font-family: "AmaticSC-regular";
  font-style: normal;
  font-weight: 500;
}

/*********************************************************************************************/

@media only screen and (min-width: 720px) {
  .forme_titre_svg {
    width: 65%;
  }

  .facebook {
    width: 8%;
    left: 35%;
  }

  .linkedin {
    width: 8%;
    right: 35%;
  }
}


/*******************************************************************************/

@media only screen and (min-width: 1024px) {
  .forme_titre_svg {
    width: 40%;
  }

  .facebook {
    width: 4%;
    left: 24%;
    top: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .linkedin {
    width: 4%;
    right: 20%;
    top: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .circle_linkedin {
    fill: #32bec1;
  }

  .circle_facebook {
    fill: #32bec1;
  }

  .circle_facebook:hover {
    fill: #fabf12;
  }

  .circle_linkedin:hover {
    fill: #fabf12;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1367px) {
  .forme_titre_svg {
    width: 40%;
  }

  .facebook {
    width: 3%;

  }

  .linkedin {
    width: 3%;

  }
}