body {
  background-color: var(--color-primary);
  background-image: url(../img/about-me-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: absolute;
}

header {
  width: 100%;
  height: auto;
  position: relative;
}

h1 {
  text-align: center;
  color: var(--color-secondary);
  font-size: var(--size-txt-l2);
}

main {
  width: 90%;
  height: auto;
  position: relative;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
}

.presentation_top {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: var(--color-secondary);
  margin-left: auto;
  margin-right: auto;
}

.article {
  width: 100%;
  height: auto;
  padding-right: 2%;
  padding-left: 0%;
}

p {
  font-size: var(--size-txt-s);
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
}

span {
  color: var(--color-primary);
  font-weight: bold;
}

.container_blanc {
  margin-top: 7%;
  margin-bottom: 7%;
  width: 80%;
  height: auto;
  background-color: var(--color-secondary);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.container_blanc p {
  text-align: center;
}

.container_blanc p {
  color: var(--color-primary);
  padding: 5%;
  width: 100%;
  font-weight: bolder;
}

.article {
  padding-bottom: 15%;
}

/*************************************************************************************************************************************************************************/
@media only screen and (min-width: 620px) {
  .container_blanc.container_blanc_smartphone {
    width: 70%;
  }
}