:root {
  --menu-width: 40%;
  --menu-height: 100vh;
  --color-primary: #333333;
  --color-secondary: #fff;
  --color-third: #32bec1;
  --color-fourth: #ed1c24;
  --color-filth: #fabf12;
  --color-sixth: #8ce3e5;
  --size-txt-xxxs: 0.5em;
  --size-txt-xxs: 0.8em;
  --size-txt-xs: 1.2em;
  --size-txt-s: 1em;
  --size-txt-s2: 1.2em;
  --size-txt-m: 2em;
  --size-txt-m2: 1.8em;
  --size-txt-m3: 1.5em;
  --size-txt-l: 2.5em;
  --size-txt-l2: 3.5em;
  --size-txt-l3: 3em;
  --size-txt-xl: 4em;
  --size-txt-xl2: 5em;
  --size-txt-xxl: 7em;
  --menu-speed: 0.75s;
  --fade-in-speed: 0.5s;
  --fade-out-speed: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

/********************************** barre de scroll ***********************************/

body::-webkit-scrollbar {
  width: 15px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-secondary);
}

body::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 7.5px;
  border: 3px solid var(--color-secondary);
}

/****************************************************************************************/

@font-face {
  src: url(../font/AmaticSC-Bold.ttf);
  font-family: "AmaticSC-bold";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../font/AmaticSC-Regular.ttf);
  font-family: "AmaticSC-regular";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../font/OpenSans-Regular.ttf);
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(../font/Roboto-Regular.ttf);
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  cursor: pointer;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  z-index: 0;
}

body::before {
  position: fixed;
  height: inherit;
  width: inherit;
  content: "";
  background-image: url(../img/papier_texture_photoshop_avec_opacité.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;
  z-index: -1;
}

ul {
  list-style-type: none;
  font-family: "AmaticSC-bold";
  font-weight: bold;
}

h1 {
  font-family: "AmaticSC-bold";
  font-weight: bold;
}

h2 {
  color: var(--color-primary);
  font-family: "AmaticSC-bold";
  font-weight: bold;
}

h2 a:hover {
  color: var(--color-fourth);
}

h3 {
  font-family: "AmaticSC-bold";
}

.menu_active {
  color: var(--color-fourth);
}

.centered {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centered_x {
  left: 50%;
  transform: translateX(-50%);
}

.centered_y {
  top: 50%;
  transform: translateY(-50%);
}

/*********************** Bar de Cookies ***********************/
.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin: 0;
  background: var(--color-secondary);
  color: var(--color-primary);
  font: 18px arial, sans-serif;
  z-index: 1;
  display: none;
}

.cookie-bar div {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-family: AmaticSC-bold;
}

.agree {
  position: fixed;
  bottom: 5px;
  right: 4%;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: var(--color-secondary);
  background: var(--color-third);
  border-radius: 18px;
  line-height: 30px;
  padding: 0 18px;
  margin: 0;
  font-weight: 600;
  z-index: 1;
  display: none;
}

.agree:hover {
  cursor: pointer;
}

.cookie-policy {
  color: var(--color-primary);
  font-weight: bolder;
}

.cookie-bar.cookie-not-visible,
.agree.cookie-not-visible {
  display: none;
}

/*********************** Style pages ***********************/

.container_logo_tablette {
  width: 100%;
  height: 65px;
  display: block;
  text-align: center;
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 20;
}

/******* menu burger desktop ***/

.container_logo_tablette_desktop {
  width: 100%;
  height: 65px;
  display: none;
  text-align: center;
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 20;
}

.nav_desktop {
  position: relative;
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.nav_desktop ul li h2 {
  color: var(--color-secondary);
}

.container_menu {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 4;
}

.container_menu .container_menu_item {
  padding-top: 0;
  width: 20%;
  height: 100%;
  position: relative;
  transition: all 0.6s ease;
  padding-bottom: 5%;
}

.container_svg svg {
  margin-bottom: 10%;
}

.container_menu .container_menu_item .titre-menu {
  position: absolute;
  width: 100%;
  font-size: var(--size-txt-l);
  font-size: 2.5vw;
  bottom: 0;
  text-align: center;
}

/**********/

.container_logo_tablette svg.logo_blue_me {
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

.container_logo_tablette_desktop svg.logo_blue_me {
  width: 35%;
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.diseno_de_movimento {
  text-align: right;
  font-size: 0.9em;
}

.motion_design_title {
  padding-left: 10%;
}

.container_titre {
  width: 90%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container_titre h1,
.container_titre h2 {
  text-align: center;
  font-size: var(--size-txt-l2);
  color: var(--color-fourth);
}

.container_titre h1 {
  font-size: var(--size-txt-l2);
  margin-bottom: 5%;
  display: block;
}

.container_titre h2 {
  font-size: var(--size-txt-l);
  display: block;
}

.container_titre h3 {
  text-align: center;
  font-size: var(--size-txt-s2);
  color: var(--color-primary);
  display: block;
}

.container_titre p {
  font-size: var(--size-txt-s);
  display: block;
}

.deco_list_before {
  position: absolute;
  width: 32%;
  height: auto;
  top: 0%;
  right: -52%;
  transform: rotate(60deg);
}

.punaise_jaune_2_page {
  display: none;
  position: absolute;
  z-index: 1;
  width: 5%;
  top: 13%;
  right: -27%;
}

.deco_liste {
  position: absolute;
  width: 30%;
  height: auto;
  top: 50%;
  right: -40%;
  transform: translateY(-50%) rotate(0deg);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

#deco_liste {
  display: none;
}

.titre_realisations {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.titre_realisations svg {
  width: 90%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  opacity: 70%;
}

.titre_realisations_2 {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.titre_realisations_2 svg {
  width: 90%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 70%;
}

.second_titre {
  font-size: var(--size-txt-m);
  color: var(--color-secondary);
  text-align: center;
  width: 90%;
  height: auto;
  margin-top: 15%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

.second_titre_2 {
  font-size: var(--size-txt-m);
  color: var(--color-secondary);
  text-align: center;
  width: 90%;
  height: auto;
  margin-top: 15%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container_etapes {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  padding-top: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.container_etape_item {
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
}

.container_etape_item_text {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 5%;
}

.container_etape_item_text h3 {
  font-size: var(--size-txt-m2);
  width: 100%;
  text-align: left;
  color: var(--color-fourth);
}

.container_etape_item_text p {
  font-size: var(--size-txt-xs);
  display: none;
  text-align: left;
}

.container_etape_item svg,
.container_etape_item img {
  width: 15%;
  height: auto;
}

.container_article {
  width: 100%;
}

.container_client a {
  color: var(--color-fourth);
  font-weight: bold;
}

.container_client h2 {
  font-size: var(--size-txt-m);
  color: var(--color-third);
  padding-bottom: 7%;
  padding-top: 7%;
  text-align: left;
}

.container_client p {
  font-size: var(--size-txt-s);
}

span {
  color: var(--color-filth);
}

.fleche_click_here {
  width: 10%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.container_above_footer {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: -6px;
  margin-top: 10%;
  display: none;
}

.arrow_return_menu_container {
  position: fixed;
  bottom: 5%;
  left: 0.8%;
  width: 100px;
  height: 100px;
  z-index: 1;
  display: none;
}

.arrow_return_menu {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.arrow_return_menu.hidden {
  display: none;
}

.fake_link {
  position: absolute;
  left: 49%;
  top: 63%;
  transform: translateX(-50%) translateY(-50%);
  width: 7%;
  height: 41%;
  cursor: pointer;
  border-radius: 50%;
}

.fleche_menu path.cls-1 {
  fill: var(--color-primary);
}

.fleche_menu {
  position: relative;
  width: 50px;
  height: 50px;
}

.me_contacter {
  color: var(--color-filth);
}

.me_contacter:hover {
  color: var(--color-secondary);
}

/*********************************************************************************************/

@media only screen and (min-width: 720px) {
  .aside_desktop {
    display: none;
  }

  .second_titre {
    margin-top: 20%;
    width: 80%;
    font-size: var(--size-txt-l);
  }

  .container_etapes {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 10%;
    padding-bottom: 5%;
    width: 80%;
  }

  .container_etape_item {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_titre {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container_titre p {
    font-size: var(--size-txt-s2);
  }

  .container_titre h1 {
    padding-bottom: 3%;
    margin: 0;
    font-size: var(--size-txt-xl);
  }

  .titre_realisations svg {
    width: 70%;
  }

  .titre_realisations_2 svg {
    width: 70%;
  }

  .container_etape_item_text h3 {
    font-size: var(--size-txt-m);
    width: 75%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container_etape_item_text p {
    font-size: var(--size-txt-s2);
    display: block;
  }

  .container_client {
    padding-top: 1%;
    padding-bottom: 0;
  }

  .container_client h2 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: var(--size-txt-l);
  }

  .container_client p {
    font-size: var(--size-txt-s2);
  }

  .container_above_footer {
    display: block;
  }

  .cookie-bar {
    display: block;
  }

  .agree {
    display: block;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1024px) {
  .arrow_return_menu_container {
    display: block;
  }

  .page_about {
    display: none;
  }

  .container_logo_tablette svg {
    width: 10%;
  }

  .container_logo_tablette {
    display: none;
  }

  .container_logo_tablette_desktop {
    display: block;
  }

  .container_titre {
    padding-top: 8%;
    width: 70%;
    padding-bottom: 8%;
    display: none;
  }

  .container_titre h1,
  .container_titre h2,
  .container_titre h3 {
    display: none;
  }

  .container_titre p {
    font-size: var(--size-txt-xs);
    display: none;
  }

  .second_titre_2 {
    margin: 0;
    margin-top: 10%;
    width: 80%;
  }

  .container_etapes {
    width: 50%;
    margin-top: 0;
    margin-bottom: 10%;
    padding-bottom: 5%;
    margin-left: 15%;
  }

  .punaise_jaune_2_page {
    display: block;
  }

  #deco_liste {
    display: block;
  }

  .arrow_return_menu {
    display: block;
  }

  .second_titre {
    margin-top: 3%;
    font-size: var(--size-txt-m2);
  }

  .titre_realisations svg {
    width: 35%;
  }

  .titre_realisations_2 svg {
    left: 40%;
    width: 35%;
  }

  .container_etape_item {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .container_etape_item svg,
  .container_etape_item img {
    width: 10%;
  }

  .container_etape_item_text {
    padding: 0;
    padding-left: 5%;
  }

  .container_etape_item_text h3 {
    font-size: var(--size-txt-m2);
  }

  .container_etape_item_text p {
    width: 100%;
    font-size: var(--size-txt-xs);
  }

  .container_client {
    padding-top: 1%;
    padding-bottom: 0;
    padding-left: 5%;
  }

  .container_client h2 {
    font-size: var(--size-txt-m2);
  }

  .container_client p {
    font-size: var(--size-txt-xxs);
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_titre {
    padding-top: 8%;
    width: 70%;
    padding-bottom: 5%;
  }

  .container_titre p {
    font-size: var(--size-txt-m3);
  }

  .container_titre h1 {
    font-size: var(--size-txt-xxl);
  }

  .titre_realisations svg {
    width: 35%;
  }

  .titre_realisations_2 svg {
    left: 40%;
    width: 35%;
  }

  .second_titre {
    width: 80%;
    font-size: var(--size-txt-l2);
    font-size: 3vw;
    margin-top: 5%;
    margin-bottom: 0;
  }

  .second_titre_2 {
    width: 80%;
    font-size: var(--size-txt-l2);
    font-size: 3vw;
    margin: 0;
    margin-top: 10%;
  }

  .container_etapes {
    font-size: 0.9vw;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  .container_etape_item {
    width: 100%;
    text-align: center;
    justify-content: start;
    padding-left: 0;
    padding-right: 0;
  }

  .container_etape_item_text h3 {
    font-size: var(--size-txt-l3);
  }

  .container_etape_item_text p {
    font-size: var(--size-txt-s2);
  }

  .container_client {
    font-size: 0.9vw;
    padding-left: 5%;
    padding-right: 5%;
  }

  .container_client h2 {
    font-size: var(--size-txt-l2);
  }

  .container_client p {
    font-size: var(--size-txt-s2);
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1920px) {
  header,
  body,
  main,
  footer {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_logo_tablette {
    width: 1920px;
  }

  .container_logo_tablette_desktop {
    width: 1920px;
  }
}
