header {
  position: relative;
  width: 100%;
  height: auto;
}

.container_animation_flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.container_animation_flex .svg_logo {
  width: 100%;
  height: auto;
  position: relative;
}

.forme_titre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.forme_titre svg {
  width: 100%;
  height: 100%;
}

.forme_titre_page {
  position: absolute;
  width: 75%;
  height: auto;
  z-index: -1;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.forme_titre_page svg {
  width: 100%;
  height: auto;
}

.punaise_jaune_page {
  position: absolute;
  z-index: 1;
  width: 10%;
  top: -4%;
  right: 50%;
}

.aside_desktop {
  position: relative;
  width: 40%;
  height: 100vh;
  display: none;

}

.aside_desktop_container {
  position: absolute;
  top: 57%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
}

.aside_desktop h1 {
  font-size: var(--size-txt-l3);
  color: var(--color-fourth);
  padding-bottom: 2%;
  z-index: 1;
}

.aside_desktop p {
  font-size: var(--size-txt-xxs);
  font-size: 1.1vw;
  z-index: 1;
}

.logo_bmd {
  width: auto;
  height: 80vh;
}

.logo_bmd .image_logo {
  width: auto;
  height: 100%;
}

.container_menu_aside {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 10%;
}

.container_menu_aside li {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  font-size: var(--size-txt-s);
}

/************************************************************/

@media only screen and (min-width: 720px) {
  .container_animation_flex {
    display: block;
  }
}

/************************************************************************/

@media only screen and (min-width: 1024px) {
  header {
    height: 100vh;
  }

  .container_animation_flex {
    display: flex;
    height: 100vh;
    padding: 0;
  }

  .container_animation_flex .svg_logo {
    width: 60%;
    padding-top: 5%;
    margin-left: 5%;
  }

  .aside_desktop {
    display: block;
  }


}

/****************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_animation_flex .svg_logo {
    padding-top: 3%;
  }

  .aside_desktop_container {
    position: absolute;
    top: 54%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
  }

  .aside_desktop h1 {
    font-size: var(--size-txt-xl);
    font-size: 3.5vw;
    text-align: center;
    padding-bottom: 8%;
  }

  .aside_desktop p {
    font-size: var(--size-txt-s2);
    font-size: 1vw;
    z-index: 1;
  }

  .forme_titre_page {
    width: 65%;
    height: auto;
    left: 50%;
    top: 55%;
  }
}

/****************************************************************************/

@media only screen and (min-width: 1925px) {
  .aside_desktop h1 {
    font-size: var(--size-txt-l);
  }

  .aside_desktop p {
    font-size: var(--size-txt-xxs);
    z-index: 1;
  }
}