h1 {
    text-align: center;
    color: var(--color-fourth);
    padding-top: 100px;
    font-size: var(--size-txt-l2);
}

.container_plan_du_site li {
    font-size: var(--size-txt-m);
}

a:hover {
    color: var(--color-filth);
}

.container_plan_du_site {
    padding-top: 5%;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}