/* -------------- CSS --------------- */
.container_article {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  padding-top: 0;
  padding-bottom: 10%;
}

.container_article ul {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.container_items {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.container_image_client {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 2%;
}

.container_image_client img {
  width: 100%;
  height: auto;
}

.portfolio_logo {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.portfolio_logo img,
.portfolio_logo p {
  transition: all 0.3s ease;
}

.portfolio_logo:hover img {
  transform: translateY(-15%);
}

.portfolio_logo:hover p {
  bottom: 0%;
}

.portfolio_logo p {
  width: 100%;
  height: auto;
  font-size: var(--size-txt-m3);
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: -15%;
  text-align: center;
  background-color: var(--color-secondary);
}

p a:hover {
  color: var(--color-fourth);
}

/***********************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .container_article {
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
  }

  .container_items {
    flex-direction: row;
  }

  .container_image_client {
    width: 50%;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/***********************************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1367px) {
  .container_items {
    flex-direction: row;
  }

  .container_image_client {
    width: 33.33%;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/****************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_items {
    flex-direction: row;
  }

  .container_image_client {
    width: 33.33%;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .container_article {
    padding-top: 0;
    padding-bottom: 0;
    width: 70%;
  }
}