body p {
    font-size: var(--size-txt-s);
}

.texte_politique_de_confidentialité p {
    font-size: var(--size-txt-s);
}

.container_logo_tablette {
    position: relative;
}

.texte_politique_de_confidentialité {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
}

h1 {
    text-align: center;
    color: var(--color-fourth);
    padding-top: 100px;
    font-size: var(--size-txt-l2);
}

h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    padding-top: 2%;
    padding-bottom: 2%;
}