.container_article {
  padding-top: 10%;
}

.article {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.container_article_text_under {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  margin-bottom: 15%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.container_video {
  width: 100%;
}

.container_video video {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.container_client {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/***********************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .container_article_text_under {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .container_article_text_under .container_client {
    padding-left: 1%;
    padding-top: 0;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/***********************************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1367px) {
  .container_article_text_under {
    padding: 2%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-bottom: 0;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .container_video {
    padding-right: 0;
  }

  .container_client h2 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

/****************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_video {
    padding-right: 0;
  }

  .container_article_text_under .container_client {
    padding: 0;
  }

  .container_article_text_under {
    width: 70%;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .container_client h2 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}