.container_article_desktop {
  position: relative;
  width: 90%;
  height: auto;
  padding-top: 5%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
  padding: 1%;
}

.container_article_smartphone {
  position: relative;
  width: 90%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

.punaise_jaune_2_page {
  position: absolute;
  z-index: 1;
  width: 5%;
  top: 0%;
  right: -27%;
}

.container_book {
  position: relative;
  width: 100%;
  height: auto;
}

.component {
  transition: all 0.6s ease;
}
.component:hover {
  transform: translateX(10%);
}

.container_image {
  position: relative;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.container_image img {
  width: 100%;
  height: auto;
}

.container_client {
  position: relative;
  width: 90%;
  height: auto;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container_client_align_vertical p {
  text-align: left;
}

/***********************************************************************************************/

@media only screen and (min-width: 720px) {
  .container_article_smartphone {
    width: 80%;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1024px) {
  .container_article_desktop {
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 7%;
    margin-bottom: 0;
    display: flex;
    width: 80%;
  }

  .container_article_smartphone {
    display: none;
  }

  .container_image {
    padding-top: 0;
    padding-right: 0;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_client {
    width: 100%;
  }

  .container_article_desktop {
    width: 70%;
    padding-bottom: 5%;
  }

  .container_image {
    padding-top: 0;
    width: 100%;
    padding-right: 5%;
  }

  .second_titre {
    margin-bottom: 0;
  }
}
