.container_article_text_under {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-top: 10%;
  padding-right: 5%;
  position: relative;
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.container_article_text_side {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10%;
  padding-left: 5%;
  padding-top: 10%;
  padding-right: 5%;
}

.container_article_text_side_last {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
  padding-bottom: 10%;
  padding-left: 5%;
  padding-top: 10%;
  padding-right: 5%;
}

.container_video {
  width: 100%;
}

.container_video video {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.container_client {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.container_etape_item svg path.cls-3 {
  fill: none;
  stroke: var(--color-primary);
}

/****************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .container_article_text_under {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_article_text_side {
    width: 80%;
    padding-bottom: 5%;
  }

  .container_article_text_side_last {
    width: 80%;
    margin-bottom: 0;
    padding-bottom: 5%;
  }

  .container_article_text_under .container_client {
    padding-left: 1%;
    padding-top: 0;
  }

  .container_article_text_side .container_client {
    padding-top: 0;
    padding-left: 1%;
    padding-top: 0;
  }

  .container_article_text_side_last .container_client {
    padding-top: 0;
    padding-left: 1%;
    padding-top: 0;
  }

  .second_titre {
    margin-bottom: 0;
  }
}

/************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1367px) {
  .container_article_text_under {
    padding: 2%;
    padding-bottom: 2%;
    padding-top: 3%;
  }

  .container_article_text_side {
    flex-direction: row;
    padding: 2%;
    padding-bottom: 2%;
  }

  .container_article_text_side_last {
    flex-direction: row;
    padding: 2%;
    margin-bottom: 0;
    padding-bottom: 2%;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .container_video {
    padding-right: 5%;
  }

  .container_client h2 {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .container_client p {
    padding-right: 5%;
  }
}

/****************************************************************************/

@media only screen and (min-width: 1367px) {
  .container_video {
    padding-right: 0;
  }

  .container_article_text_under .container_client {
    padding: 0;
  }

  .container_article_text_side .container_client {
    width: 80%;
  }

  .container_article_text_side_last .container_client {
    width: 80%;
  }

  .container_article_text_under {
    width: 70%;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_article_text_side {
    width: 70%;
    flex-direction: row;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_article_text_side_last {
    width: 70%;
    margin-bottom: 0;
    flex-direction: row;
    padding: 2%;
    padding-bottom: 5%;
  }

  .container_client h2 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}