/**********************************************************/

.container_article {
  position: relative;
  width: 90%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 5%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 20px -8px rgba(51, 51, 51, 0.2);
}

/*****slide****/

@keyframes slidy {
  0% {
    left: 0%;
  }

  15% {
    left: 0%;
  }

  20% {
    left: -100%;
  }

  35% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  55% {
    left: -200%;
  }

  60% {
    left: -300%;
  }

  75% {
    left: -300%;
  }

  80% {
    left: -400%;
  }

  95% {
    left: -400%;
  }
}

div#slider {
  overflow: hidden;
  width: 100%;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/****/

.container_client {
  position: relative;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container_client p {
  text-align: left;
}





/***********************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .container_article {
    width: 80%;
    flex-direction: row;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  div#slider {
    width: 30%;
    margin-left: 0;
    margin-right: 5%;
  }

  .container_client {
    text-align: left;
    width: 55%;
  }

  .container_client p {
    font-size: var(--size-txt-xs);
  }

  div#slider {
    width: 75%;
    margin-left: 0;
  }

  .second_titre {
    margin-bottom: 0;
  }

  .container_client {
    padding-top: 0;
  }

  .container_client h2 {
    padding-top: 0;
  }
}

/***********************************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1367px) {
  .second_titre {
    width: 80%;
  }

  .container_article {
    width: 80%;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_client_align_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0;
    padding-right: 5%;
    text-align: left;
    width: 100%;
  }

  .container_client p {
    font-size: var(--size-txt-xxs);
  }

  .container_client {
    padding-left: 2%;
  }

  div#slider {
    width: 30%;
    margin-left: 0;
  }

  .container_etapes {
    width: 80%;
  }

  .container_client h2 {
    padding-top: 0;
  }
}

/*******************************************************************************/

@media only screen and (min-width: 1367px) {
  .second_titre {
    width: 80%;
  }

  .container_article {
    width: 70%;
    flex-direction: row;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container_client_align_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10%;
    text-align: left;
  }

  .container_client p {
    font-size: var(--size-txt-s2);
  }

  div#slider {
    width: 40%;
    margin-left: 0;
  }

  .punaise_jaune_2_page {
    top: 5%;
  }


  .container_client h2 {
    padding-top: 0;
  }
}